@import 'mixins';
@import 'variables';

html {
    scroll-padding-top: 6rem;
}

body {
    background-color: $bgc-body;
    color: $content;
    
    .site-container {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        
        // position set for star
        position: relative;
        overflow: hidden;
        
        main {
            flex: 1;
        }

        .loading {
            width: 60px;
            height: 60px;
            @include centerElement;
        }
    }

    // star style
    .stars {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        z-index: -1000;

        .star {
            position: absolute;
            width: 2px; 
            height: 2px;
            background-color: white; 
            border-radius: 50%;
            filter: blur(1px);
        }
    }
    
    
    a {
        color: $content;
        text-decoration: none;
    }
    
    h2 {
        text-align: center;
        font-size: clamp(1.8rem, 3.5vw, 2rem);
    }
}