// Colors
$content-nav: #859e91;
$bgc-brown: #f4f3ee;
$bgc-blue: #537355;
$btnColor: #e68e00;
$textC: #242424;
$bgShop: #999999ab;
$bgc-skill: #6099A6;

// Fonts
$fontsize: 1.5rem;
$content-title: #4e4e4e;
$content-color: #908b8b;

