// Colors
$bgc-body: #21272E;
$content: #fff;
$bgc-btn-blue: #4FD1C5;
$bgc-btn-yellow: #f4a949;
$bgc-navbar: #2e353dde;

// Fonts
// $fontsize: 1.5rem;
// $content-title: #4e4e4e;
// $content-color: #908b8b;

// Screen size
$tablet-small: 45em;