@import '../generic/variables';
@import '../generic/mixins';

.home-container {
    .banner-container {
        margin: auto;
        display: flex;
        flex-direction: column;
        margin-top: 100px;        

        .background-img { 
            filter: blur(5px);
            transform: rotate(-20deg);
            margin-left: auto;
        }

        .intro {
            margin: 10px;
            margin-top: 100px;
            padding: 10px;
            font-size: 20px;

            p {
                font-size: clamp(1.5rem, 5vw, 3rem);
            }

            .my-name {
                margin-bottom: 0;
                font-weight: bold;
            }

            .role {
                margin-top: 0;
                font-weight: bold;
            }

            .mission,
            .inquiry ,
            .hook {
                font-size: clamp(1rem, 3vw, 1.3rem);
            }

            .gray {
                color: #cfcfcf;
                font-weight: 550;
                transition: 0.4s ease-in-out; 
            }

            .my-name.gray,
            .role.gray {
                font-weight: bold;
            }

            .yellow,
            .yellow-big {
                color: $bgc-btn-yellow;
                font-weight: 550;
                transition: 0.4s ease-in-out; 
            }

            .yellow {
                font-weight: bold;
            }

            .cta-button {
                border: 1px solid $bgc-btn-yellow;
                padding: 10px;
                border-radius: 100px;
                // transition: 0.4s ease-in-out;

                span {
                    margin-right: 10px;
                    font-size: 17px;
                    font-weight: bold;
                }

                svg {
                    vertical-align: middle;
                }

                &:hover {
                    @include button-yellow;

                    span {
                        color: #313133;
                    }
    
                    svg {
                        fill: #313133;
                    }
                }
            }

            .yellow-btn {
                @include button-yellow;
                transition: 0.5s ease-in-out;

                span {
                    color: #313133;
                }

                svg {
                    fill: #313133;
                }
            }

            .cta-container {
                margin-top: 40px;
            }
        }

        @include mqMin(47em) {
            max-width: 1200px;
            width: 95%;
            
            .background-img {
                margin-top: 10%;
            }

            .intro {
                .mission {
                    margin-top: 90px;
                }
                
                .hook {
                    margin-top: 50px;
                }

                .yellow,
                .yellow-big {
                    transform: scale(1.2) translateX(55px);
                }

                .yellow-btn {
                    padding: 10px 20px; 
                }
            }
        }

        @include mqMin(55em) {
            width: 90%;

            .intro {
                .yellow,
                .yellow-big {
                    transform: scale(1.2) translateX(60px);
                }
            }
        }

        @include mqMin(60em) {

            .intro {
                .yellow,
                .yellow-big {
                    transform: scale(1.2) translateX(68px);
                }
            }
        }
        
        @include mqMin(65em) {

            .intro {
                .yellow,
                .yellow-big {
                    transform: scale(1.2) translateX(77px);
                }
            }
        }
        
        @include mqMin(70em) {

            .intro {
                .yellow,
                .yellow-big {
                    transform: scale(1.2) translateX(95px);
                }
            }
        }

        @include mqMin(90em) {
            max-width: 1300px;
            flex-direction: row;

            .background-img {
                margin-top: 6%;
                order: 2;
            }

            .intro {
                margin-top: 200px;

                .yellow,
                .yellow-big {
                    transform: scale(1.2) translateX(55px);
                }
            }
        }
    }
}