@import '../generic/variables';
@import '../generic/mixins';

.banner-container {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    width: 90%;
    margin: auto;

    .background-img {
        margin-left: auto;
        margin-top: auto; 
        filter: blur(5px);
        transform: rotate(-20deg);
        height: 20%;
    }

    .intro {
        margin: 15px;
        height: 65%;
        
        p {
            font-size: clamp(1.3rem, 5vw, 2.5rem);
        }

        .green {
            color: $bgc-btn;
            font-weight: bold;
        }

        .gray {
            color: #cfcfcf;
        }

        .green,
        .gray {
            transition: color 0.5s ease-in-out; 
        }

        .cta-button {
            span {

                margin-right: 10px;
            }

            svg {
                vertical-align: middle;
            }
    
        }
    }

    @include mqMin(45em) {
        max-width: 1200px;
        width: 80%;

        .background-img {
            transform: rotate(-10deg);
            height: 5%;
        }
    
        .intro {
            height: 65%;
            margin-top: auto;
        }
    }

}