@import '../generic/mixins';
@import '../generic/variables';

.contact-container {
    max-width: 1250px;
    width: 90%;
    margin: 100px auto;
    padding: 10px;
    @include cardBackground;
    
    .contact-info {
        max-width: 1000px;
        margin: 0 auto 35px;

        .email {
            text-align: center;
            margin-top: 70px;

            a {
                font-size: 20px;
                font-weight: bold;
            }
        }

        .button-container {
            display: flex;
            justify-content: center;
            margin-top: 20px;

            .copy-button {
                @include button-blue;
                width: 200px;
                height: 55px;
            }

            .copy-button {
                &:hover {
                    @include button-yellow;
                    @include buttonHover;
                }
            }

            .is-copied-button {
                @include button-blue;
                background: linear-gradient(90deg, #eeb265 0%, $bgc-btn-yellow 100%);
                box-shadow: 1px 1px 10px $bgc-btn-yellow;
                width: 200px;
                height: 55px;
            }
        }

        .social-media {
            width: 80px;
            height: 80px;
            margin: 0 auto;
            display: flex;
            gap: 20px;
            margin-top: 20px;
    
            svg {
                width: 100%;
                height: 100%;
                transition: 0.3s ease-in-out;
    
                &:hover path {
                    fill: $bgc-btn-yellow;
                }
            }
        }
    }
}