.css-1c35hjw-MuiPaper-root-MuiAccordion-root {

    .css-o4b71y-MuiAccordionSummary-content {
        font-size: 26px;
        font-weight: bold;
    }

    // .feature-container {
    //     width: 90%;
    //     margin: auto;
    // }
    
    video {
        width: 100%;
    }

    .feature-description {
        margin: 30px auto;
    }

    @media (min-width: 60em) {

        .feature-container {
            display: flex;
            gap: 30px;
            align-items: center;
            justify-content: space-around;
        }

        video {
            width: 600px;
        }
    }

}