@import '../generic/variables';
@import '../generic/mixins';

.footer-container {
    text-align: center;
    margin: 90px auto;

    .footer-logo-container {
        width: 70px;
        height: 70px;
        margin: 0 auto;
        display: flex;
        gap: 20px;

        svg {
            width: 100%;
            height: 100%;
            transition: 0.3s ease-in-out;

            &:hover path {
                fill: $bgc-btn-yellow;
            }
        }
    }

    p {
        margin-top: 0;
    }
}

@include mqMin($tablet-small) {
    .footer-container {
        margin: 0;
    }
}