@import '../generic/mixins';
@import '../generic/variables';

.header-container {
    z-index: 1000;

    .site-logo-container {
        width: 70px;
        height: 70px;
        padding: 20px;
        margin: 0 auto;

        svg {
            width: 100%;
            height: 100%;
            transition: 0.3s ease-in-out;

            &:hover path {
                fill: $bgc-btn;
                stroke: $bgc-btn;
            }
        }
    }

    .site-navigation {
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        z-index: 2000;
        border: 1px solid rgb(62 72 83 / 44%);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;        
        box-shadow: 0 -2px 12px $bgc-navbar;
        background: $bgc-navbar;
        backdrop-filter: blur(5px);
        padding: 15px 10px;
    
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: space-around;
            align-items: center; 
            
            li a {
                text-decoration: none;
                display: flex;
                flex-direction: column;
                justify-items: center;
                align-items: center;
                font-size: 12px;
                transition: 0.2s ease;

                &:hover {
                    color: $bgc-btn;
        
                    .nav-icon {
                        svg {
                            fill: $bgc-btn;
                        }
                    }
                }

                .nav-icon {
                    width: 28px;
                    height: 28px;

                    svg {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
    
    @include mqMin(45em) {
        position: fixed;
        display: flex;
        justify-content: space-between; 
        align-items: center; 
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        max-width: 1200px;
        
        .site-logo-container {
            margin: 0;
        }

        .site-navigation {
            position: unset;
            transform: none; 
            width: auto; 
            box-shadow: 0px 0px 20px 0px $bgc-navbar;
            border-radius: 10px;
            padding: 5px 20px 5px 20px;
            
            ul {
                column-gap: 70px;
            }

            .nav-icon {
                display: none;
            }
            
            li span {
                font-size: 16px;
            }
            
        }
    }
}
