@import '../generic/mixins';
@import '../generic/variables';

.header-container {
    z-index: 1000;

    .site-logo-container {
        width: 35px;
        height: 35px;
        position: absolute;
        top: 20px;
        left: 20px;

        svg {
            width: 100%;
            height: 100%;
            transition: 0.3s ease-in-out;

            &:hover path {
                fill: $bgc-btn-blue;
                stroke: $bgc-btn-blue;
            }
        }
    }

    .star-icon-mobile {
        width: 60px;
        height: 60px;
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 10px;
        
        svg {
            width: 100%;
            height: 100%;
            fill: $bgc-btn-blue;
            filter: drop-shadow(0px 0px 7px $content);
            transition: 0.2s ease;
        }
    }

    .star-lighted {
        svg {
            fill: $bgc-btn-yellow;
        }
    }

    .site-navigation {
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 2000;
        border: 1px solid rgb(62 72 83 / 44%);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;        
        box-shadow: 0 -2px 12px $bgc-navbar;
        background: $bgc-navbar;
        backdrop-filter: blur(5px);
        padding: 15px 10px;
    
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: space-around;
            align-items: center; 
            
            li a {
                display: flex;
                flex-direction: column;
                justify-items: center;
                align-items: center;
                font-size: 12px;
                font-weight: 500;
                transition: 0.2s ease;

                &:hover {
                    color: $bgc-btn-blue;
        
                    .nav-icon {
                        svg {
                            fill: $bgc-btn-blue;
                        }
                    }
                }

                .nav-icon {
                    width: 28px;
                    height: 28px;

                    svg {
                        width: 100%;
                        height: 100%;
                    }
                }
            }

            .star-icon-list {
                display: none;
            }
        }
    }
    
    @include mqMin($tablet-small) {
        position: fixed;
        display: flex;
        justify-content: space-between; 
        align-items: center; 
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        max-width: 1400px;
        
        .site-logo-container {
            position: static;
            top: initial;
            left: initial;
            transform: initial;
        }

        .star-icon-mobile {
            display: none;
        }

        .site-navigation {
            position: unset;
            transform: none; 
            width: auto; 
            box-shadow: 0px 0px 20px 0px $bgc-navbar;
            border-radius: 10px;
            padding: 0 10px 0 20px;
            
            ul {
                li:not(:nth-last-child(-n+2)) {
                    margin-right: 70px;
                }

                li:last-child {
                    margin-left: 20px;
                }

                .star-icon-list {
                    display: block;
                }
            }

            .nav-icon {
                display: none;
            }
            
            li span {
                font-size: 16px;
            }
            
            .star-icon {
                width: 50px;
                height: 50px;
                cursor: pointer;
                
                svg {
                    width: 100%;
                    height: 100%;
                    fill: $bgc-btn-blue;
                    filter: drop-shadow(0px 0px 7px $content);
                    transition: 0.2s ease;
                }

                &.star-lighted {
                    svg {
                        fill: $bgc-btn-yellow;
                    }
                }
            }
        }
    }
}
