@import '../generic/mixins';
@import '../generic/variables';

.home-project-container {
    width: 90%;
    margin: auto;

    .card-container {
        margin: 50px 0;
        display: flex;
        flex-wrap: wrap;
        gap: 70px;

        .project-card {
            background: rgba(46, 53, 61, 0.8705882353);
            border: 1px solid rgba(62, 72, 83, 0.44);
            border-radius: 8px;
            box-shadow: 0 -2px 17px 5px rgba(46, 53, 61, 0.8705882353);
            overflow: hidden;
            max-width: 400px;
            margin: auto;

            .card-content {
                padding: 20px;


                h3 {
                    font-size: clamp(1.3rem, 3vw, 1.8rem);
                }

                .skill-container {
                    p {
                        display: inline-block;
                        font-size: 13px;
                        margin: 0 ;
                        
                        &:not(:last-child) {
                            margin-right: 10px;
                        }

                        &:not(:last-child)::after {
                            content: "|"; 
                            margin-left: 10px; 
                        }
                    }
                }

                .link-to-project {
                    margin: 10px auto;

                    a {
                        color: $bgc-btn;

                        svg {
                            vertical-align: middle;
                            margin-left: 10px;
                        }
                    }
                }
            }

            .image-container {
                display: flex;
                justify-content: flex-end;

                img {
                    width: 70%;
                }
            }
        }
    }
}