.projects-container {
    max-width: 1200px;
    margin: 100px auto;
    width: 80%;
}

.no-slider-container {
    margin: auto;
    display: flex;

    flex-direction: column;
    row-gap: 70px;

    .project-card {
    //     max-width: 500px;
    //     background-color: #fff;
    //     color: rgba(0, 0, 0, 0.87);
    //     border-radius: 5px;
    //     box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
    //     overflow: hidden;
    // }

    // .card-content {
    //     padding: 16px;

        img {
            width: 100%;
            border-radius: 10px;
        }
    }
}


@media (min-width: 55em) {
    .no-slider-container {

        display: flex;
        flex-direction: column;
        justify-content: center;
        // justify-items: center;
        // row-gap: 70px;
        // column-gap: 35px;
        // grid-template-columns: repeat(auto-fill, minmax(375px, 1fr));

        .project-card {
            display: flex;
            gap: 3rem;
            justify-content: space-between;
            align-items: center;
        }

        .image-container {
            width: 45%;
        }

        .card-content {
            width: 45%;
        }

        .project-card:nth-child(even) .card-content {
            order: -1; /* 使偶数项的内容先显示在左侧 */
          }

        img {
            width: 100%;
        }


    }
}