@import '../generic/mixins';
@import '../generic/variables';

.slider-container {
    max-width: 500px;
    margin: 200px auto;
    
    .project-card {
        position: relative;

        .image-container {
            width: 100%;
            height: 100%;
            filter: brightness(35%);  
            border-radius: 15px;
            overflow: hidden;
        }
        
        .card-content {
            @include centerElement;

            p {
                display: none;
            }
            
            a {
                color: $bgc-btn-blue;
                font-size: 18px;
                font-weight: bold;
                transition: color 0.3s ease-in-out;

                svg {
                    vertical-align: middle;
                    margin-left: 10px;
                }

                &:hover {
                    color: $bgc-btn-yellow;
                }
            }
        }
    }

    .slick-prev,
    .slick-next {
        top: 110%;
        background-color: rgba(97, 118, 143, 0.397);
        border-radius: 50%;
        width: 35px;
        height: 35px;
        transition: 0.3s ease;

        &:hover {
            background-color: rgb(79 209 197 / 65%);
        }
    }

    .slick-prev {
        left: calc(50% - 40px);
    }

    .slick-next {
        left: calc(50% + 10px);
    }

    .slick-prev:before,
    .slick-next:before {
        font-size: 25px;
        color: $content;
        position: absolute; 
        top: 47%; 
        left: 50%; 
        transform: translate(-50%, -50%);
    }

    .slick-prev:before {
        content: "🠔";
    }

    .slick-next:before {
        content: "🠖";
    }


    @include mqMin(25em) {
        
        h3 {
            white-space: nowrap;
        }
    }

    @include mqMin($tablet-small) {

        .slick-prev,
        .slick-next {
            width: 45px;
            height: 45px;
        }
    
        .slick-prev {
            left: calc(50% - 50px);
        }
    
        .slick-next {
            left: calc(50% + 15px);
        }
    
        .slick-prev:before,
        .slick-next:before {
            font-size: 30px;
        }
    }
}