@import '../generic/mixins';

.single-project-container {
    .banner {
        background-color: #98A896;
        padding: 50px;

        .image-container {
            max-width: 700px;
            margin: auto;

            img {
                width: 100%;
        }
    }
    }
    
    .page-title {
        text-align: center;
        font-size: clamp(2rem, 10vw, 3.5rem);
    }

    h2 {
        font-size: clamp(1.5rem, 7vw, 2.5rem);
    }

    .project-intro,
    .projects-container h2 {
        max-width: 1200px;
        margin: 33px auto;
        width: 80%;
    }

}


.btn-container {
    height: 6rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin-top: 3rem;
    margin-bottom: 10rem;

    .button {
        @include button;
    }
}

@include mqMin(36.5em) {
    .btn-container {
        margin-bottom: 0;
    }
}