@import '../generic/mixins';
@import '../generic/variables';

.single-project-container {

    // banner section
    .banner-container {
        position: relative;

        .page-title {
            margin: 0;
            font-size: clamp(2rem, 5.5vw, 4rem);
            position: absolute;
            top: 20%;
            left: 50%;
            transform: translateX(-50%);
            z-index: 100;
            width: 80%;
            text-align: center;
        }

        .image-container {
            img {
                width: 100%;
                max-height: 650px;
                min-height: 490px;
                object-fit: cover;
                filter: brightness(35%);  
            }
        }

        .cta-container {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            position: absolute;
            bottom: 10%;
            right: 10%;

            p {
                text-align: flex-end;
            }

            .btn-container {
                display: flex;
                flex-direction: column;
                gap: 20px;
                
                .button {
                    width: 160px;
                    height: 40px;
                    font-size: 18px;
                    font-weight: 700;
                    color: #313133;
                    background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
                    border: none;
                    border-radius: 100px;
                    box-shadow: 1px 1px 10px rgba(79, 209, 197, 0.64);
                    transition: 0.3s ease-in-out;
                    cursor: pointer;
                    position: relative;
                    padding: 10px;
                }
            }
        }
    }
    

    @include mqMin($tablet-small) {
        .banner-container {
    
            .page-title {
                top: 35%;
                left: 50%;
            }
            
            .cta-container {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                position: absolute;
                bottom: 10%;
                right: 10%;

                p {
                    font-size: 20px;
                }

                .btn-container {
                    flex-direction: row;
                    gap: 50px;

                    .button {
                        @include button;
                    }
                }
            }
        }
    }


    .project-intro {
        max-width: 1200px;
        width: 90%;
        padding: 10px;
        margin: 200px auto;
        @include cardBackground;
        
        // overview section
        .skill-container {
            @include bgc-innerBox;
            padding-bottom: 24px;

            .skill-list {
                @include skillList;
                
                p {
                    font-size: 16px;
                }
            }
        }

        @include mqMin(800px) {

            .overview-column {
                display: flex;
                justify-content: space-around;
            }
            .project-overview {
                width: 65%;
            }
        }


        // Hightlight section
        .highlight-container {
            margin: 70px auto 45px;

            h3 {
                text-align: center;
            }

            video {
                border-radius: 10px;
            }

            .feature-title {
                text-align: center;
                font-size: clamp(1rem, 5vw, 1.3rem);
            }

            // dropdown box
            .MuiPaper-root {
                @include bgc-innerBox;
                padding-left: 0;
                padding-right: 0;
                color: $content;

                // heading
                .MuiButtonBase-root {
                    .MuiAccordionSummary-content {
                        font-size: 20px;
                        font-weight: 600;
                    }
                    
                    .MuiAccordionSummary-expandIconWrapper {
                        svg {
                            fill: $content;
                        }
                    }
                }

                // dropdown content
                .MuiCollapse-root {

                    .MuiAccordionDetails-root {

                        display: flex;
                        flex-direction: column;
                        row-gap: 3rem;
                        
                        video {
                            width: 100%;
                        }
                        
                        .feature-description {
                            margin: 30px auto;
                        }
                    } 
                }               
            }

            @include mqMin(65em) {

                .feature-container {
                    display: flex;
                    gap: 50px;
                    align-items: center;
                    justify-content: space-around;
                }
        
                .video-container {
                    width: 50%;
                }
        
                video {
                    width: 100%;
                }
        
                .feature-info {
                    width: 50%;
                }
            }
        }
    }
}



